Solucion_WCF/WebVista01/Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64302/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64302/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64302/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Servicio.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_listadoCiudad_InputMessage">
    <wsdl:part name="parameters" element="tns:listadoCiudad" />
  </wsdl:message>
  <wsdl:message name="IService1_listadoCiudad_OutputMessage">
    <wsdl:part name="parameters" element="tns:listadoCiudadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listado_Horarios_InputMessage">
    <wsdl:part name="parameters" element="tns:listado_Horarios" />
  </wsdl:message>
  <wsdl:message name="IService1_listado_Horarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:listado_HorariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_horario_Esp_InputMessage">
    <wsdl:part name="parameters" element="tns:horario_Esp" />
  </wsdl:message>
  <wsdl:message name="IService1_horario_Esp_OutputMessage">
    <wsdl:part name="parameters" element="tns:horario_EspResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listado_Pasajes_InputMessage">
    <wsdl:part name="parameters" element="tns:listado_Pasajes" />
  </wsdl:message>
  <wsdl:message name="IService1_listado_Pasajes_OutputMessage">
    <wsdl:part name="parameters" element="tns:listado_PasajesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_agregar_asiento_InputMessage">
    <wsdl:part name="parameters" element="tns:agregar_asiento" />
  </wsdl:message>
  <wsdl:message name="IService1_agregar_asiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregar_asientoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Horarios_InputMessage">
    <wsdl:part name="parameters" element="tns:Horarios" />
  </wsdl:message>
  <wsdl:message name="IService1_Horarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:HorariosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="listadoCiudad">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listadoCiudad" message="tns:IService1_listadoCiudad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listadoCiudadResponse" message="tns:IService1_listadoCiudad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listado_Horarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listado_Horarios" message="tns:IService1_listado_Horarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listado_HorariosResponse" message="tns:IService1_listado_Horarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="horario_Esp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/horario_Esp" message="tns:IService1_horario_Esp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/horario_EspResponse" message="tns:IService1_horario_Esp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listado_Pasajes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listado_Pasajes" message="tns:IService1_listado_Pasajes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listado_PasajesResponse" message="tns:IService1_listado_Pasajes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregar_asiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/agregar_asiento" message="tns:IService1_agregar_asiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/agregar_asientoResponse" message="tns:IService1_agregar_asiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Horarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Horarios" message="tns:IService1_Horarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HorariosResponse" message="tns:IService1_Horarios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listadoCiudad">
      <soap:operation soapAction="http://tempuri.org/IService1/listadoCiudad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listado_Horarios">
      <soap:operation soapAction="http://tempuri.org/IService1/listado_Horarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="horario_Esp">
      <soap:operation soapAction="http://tempuri.org/IService1/horario_Esp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listado_Pasajes">
      <soap:operation soapAction="http://tempuri.org/IService1/listado_Pasajes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregar_asiento">
      <soap:operation soapAction="http://tempuri.org/IService1/agregar_asiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Horarios">
      <soap:operation soapAction="http://tempuri.org/IService1/Horarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64302/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>