Solucion_WCF/WebVista01/Connected Services/ReferenciaServicio/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64302/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64302/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64302/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Servicio" />
      <xsd:import schemaLocation="http://localhost:64302/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_Servicio.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_listado_InputMessage">
    <wsdl:part name="parameters" element="tns:listado" />
  </wsdl:message>
  <wsdl:message name="IService1_listado_OutputMessage">
    <wsdl:part name="parameters" element="tns:listadoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="IService1_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IService1_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="IService1_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPaises" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPaisesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="listado">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listado" message="tns:IService1_listado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listadoResponse" message="tns:IService1_listado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Agregar" message="tns:IService1_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarResponse" message="tns:IService1_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Actualizar" message="tns:IService1_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarResponse" message="tns:IService1_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Buscar" message="tns:IService1_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarResponse" message="tns:IService1_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarPaises" message="tns:IService1_ListarPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarPaisesResponse" message="tns:IService1_ListarPaises_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado">
      <soap:operation soapAction="http://tempuri.org/IService1/listado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/IService1/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IService1/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/IService1/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPaises">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64302/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>